<!DOCTYPE html>
<html>
    <head>
        <title>M1-plat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style/layout.css">
        <link rel="stylesheet" href="style/buttons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include partials/header.ejs %>
        <% include partials/menu.ejs %>
        <%- body %>
        <% include partials/footer.ejs %>
    </body>
</html>