<h1>Menu</h1>
<a href="/">Inicio</a>
<a href="/estrellitas/tabla">Tabla estrellitas</a>
<a>Ingresar</a>
<a>Ver equipo</a>
<a>Sub-equipos</a>
<a>Solicitar equipos parejos</a>
<a>Estado pelotas</a>
<a>Responsabilidades</a>